In [6]:
import pandas as pd

In [10]:
temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='euc-kr')

In [13]:
temp.columns

Index(['날짜', '호선', '역명', '구 분', '할인', '04 ~ 05', '05 ~ 06', '06 ~ 07',
       '07 ~ 08', '08 ~ 09', '09 ~ 10', '10 ~ 11', '11 ~ 12', '12 ~ 13',
       '13 ~ 14', '14 ~ 15', '15 ~ 16', '16 ~ 17', '17 ~ 18', '18 ~ 19',
       '19 ~ 20', '20 ~ 21', '21 ~ 22', '22 ~ 23', '23 ~ 24', '00 ~ 01',
       '01 ~ 02', '02 ~ 03', '03 ~ 04'],
      dtype='object')

In [15]:
temp.날짜

0        2016-01-01
1        2016-01-01
2        2016-01-01
3        2016-01-01
4        2016-01-01
            ...
52665    2016-01-31
52666    2016-01-31
52667    2016-01-31
52668    2016-01-31
52669    2016-01-31
Name: 날짜, Length: 52670, dtype: object

In [40]:
temp_sum = temp.groupby(['역명', '날짜', '구 분']).sum()

In [41]:
temp_sum

                          04 ~ 05  05 ~ 06  06 ~ 07  07 ~ 08  08 ~ 09  \
역명        날짜         구 분
가락시장(340) 2016-01-01 승차         0       72      102       78      145
                     하차         0        6       81       65      116
          2016-01-02 승차         0       45       66      113      288
                     하차         0       11       81       83      181
          2016-01-03 승차         0       47       72       81      198
...                           ...      ...      ...      ...      ...
회현(425)   2016-01-29 하차         0       36     1310     2647     6638
          2016-01-30 승차         0      102      151      175      304
                     하차         0       22      878      983     1963
          2016-01-31 승차         0       60       94       94      178
                     하차         0        7      206      349      698

                          09 ~ 10  10 ~ 11  11 ~ 12  12 ~ 13  13 ~ 14  ...  \
역명        날짜         구 분                                               ...
가락시장(340) 2016-01-01 승차       165      173      226      237      260  ...
                     하차       121      143      167      187      192  ...
          2016-01-02 승차       341      334      463      430      471  ...
                     하차       224      195      310      317      349  ...
          2016-01-03 승차       252      256      277      308      381  ...
...                           ...      ...      ...      ...      ...  ...
회현(425)   2016-01-29 하차      4688     2749     3028     2247     2504  ...
          2016-01-30 승차       506      683     1139     1685     2493  ...
                     하차      3029     2896     3359     3463     3091  ...
          2016-01-31 승차       267      371      492      742      925  ...
                     하차      1426     1080     1018     1205     1051  ...

                          18 ~ 19  19 ~ 20  20 ~ 21  21 ~ 22  22 ~ 23  \
역명        날짜         구 분
가락시장(340) 2016-01-01 승차       230      124      166      165      138
                     하차       206      181      151      134      153
          2016-01-02 승차       299      226      236      205      172
                     하차       393      346      268      269      234
          2016-01-03 승차       294      191      204      178      139
...                           ...      ...      ...      ...      ...
회현(425)   2016-01-29 하차      1092      741      374      365      312
          2016-01-30 승차      2687     1595     1778      764      356
                     하차       844      480      292      267      210
          2016-01-31 승차      1037      840     1075      575      317
                     하차       461      364      214      260      261

                          23 ~ 24  00 ~ 01  01 ~ 02  02 ~ 03  03 ~ 04
역명        날짜         구 분
가락시장(340) 2016-01-01 승차        35        2        0        0        0
                     하차       151       15        0        0        0
          2016-01-02 승차        60        0        0        0        0
                     하차       202       28        0        0        0
          2016-01-03 승차        52        1        0        0        0
...                           ...      ...      ...      ...      ...
회현(425)   2016-01-29 하차       243       94        7        0        0
          2016-01-30 승차       151        0        0        0        0
                     하차       128       34        0        0        0
          2016-01-31 승차       125        0        0        0        0
                     하차        99       13        0        0        0

[7378 rows x 24 columns]

In [52]:
temp_sum.rename(columns= {'구 분' : 'asd'}, inplace=True) # groupby 된 DataFrame은 컬럼명 변경 불가

In [53]:
temp_sum

                          04 ~ 05  05 ~ 06  06 ~ 07  07 ~ 08  08 ~ 09  \
역명        날짜         구 분
가락시장(340) 2016-01-01 승차         0       72      102       78      145
                     하차         0        6       81       65      116
          2016-01-02 승차         0       45       66      113      288
                     하차         0       11       81       83      181
          2016-01-03 승차         0       47       72       81      198
...                           ...      ...      ...      ...      ...
회현(425)   2016-01-29 하차         0       36     1310     2647     6638
          2016-01-30 승차         0      102      151      175      304
                     하차         0       22      878      983     1963
          2016-01-31 승차         0       60       94       94      178
                     하차         0        7      206      349      698

                          09 ~ 10  10 ~ 11  11 ~ 12  12 ~ 13  13 ~ 14  ...  \
역명        날짜         구 분                                               ...
가락시장(340) 2016-01-01 승차       165      173      226      237      260  ...
                     하차       121      143      167      187      192  ...
          2016-01-02 승차       341      334      463      430      471  ...
                     하차       224      195      310      317      349  ...
          2016-01-03 승차       252      256      277      308      381  ...
...                           ...      ...      ...      ...      ...  ...
회현(425)   2016-01-29 하차      4688     2749     3028     2247     2504  ...
          2016-01-30 승차       506      683     1139     1685     2493  ...
                     하차      3029     2896     3359     3463     3091  ...
          2016-01-31 승차       267      371      492      742      925  ...
                     하차      1426     1080     1018     1205     1051  ...

                          18 ~ 19  19 ~ 20  20 ~ 21  21 ~ 22  22 ~ 23  \
역명        날짜         구 분
가락시장(340) 2016-01-01 승차       230      124      166      165      138
                     하차       206      181      151      134      153
          2016-01-02 승차       299      226      236      205      172
                     하차       393      346      268      269      234
          2016-01-03 승차       294      191      204      178      139
...                           ...      ...      ...      ...      ...
회현(425)   2016-01-29 하차      1092      741      374      365      312
          2016-01-30 승차      2687     1595     1778      764      356
                     하차       844      480      292      267      210
          2016-01-31 승차      1037      840     1075      575      317
                     하차       461      364      214      260      261

                          23 ~ 24  00 ~ 01  01 ~ 02  02 ~ 03  03 ~ 04
역명        날짜         구 분
가락시장(340) 2016-01-01 승차        35        2        0        0        0
                     하차       151       15        0        0        0
          2016-01-02 승차        60        0        0        0        0
                     하차       202       28        0        0        0
          2016-01-03 승차        52        1        0        0        0
...                           ...      ...      ...      ...      ...
회현(425)   2016-01-29 하차       243       94        7        0        0
          2016-01-30 승차       151        0        0        0        0
                     하차       128       34        0        0        0
          2016-01-31 승차       125        0        0        0        0
                     하차        99       13        0        0        0

[7378 rows x 24 columns]

In [58]:
temp.rename(columns={'구 분' : '구분'}, inplace=True)

In [59]:
temp_sum = temp.groupby(['역명', '날짜', '구분']).sum()

In [60]:
temp_sum

                         04 ~ 05  05 ~ 06  06 ~ 07  07 ~ 08  08 ~ 09  09 ~ 10  \
역명        날짜         구분
가락시장(340) 2016-01-01 승차        0       72      102       78      145      165
                     하차        0        6       81       65      116      121
          2016-01-02 승차        0       45       66      113      288      341
                     하차        0       11       81       83      181      224
          2016-01-03 승차        0       47       72       81      198      252
...                          ...      ...      ...      ...      ...      ...
회현(425)   2016-01-29 하차        0       36     1310     2647     6638     4688
          2016-01-30 승차        0      102      151      175      304      506
                     하차        0       22      878      983     1963     3029
          2016-01-31 승차        0       60       94       94      178      267
                     하차        0        7      206      349      698     1426

                         10 ~ 11  11 ~ 12  12 ~ 13  13 ~ 14  ...  18 ~ 19  \
역명        날짜         구분                                      ...
가락시장(340) 2016-01-01 승차      173      226      237      260  ...      230
                     하차      143      167      187      192  ...      206
          2016-01-02 승차      334      463      430      471  ...      299
                     하차      195      310      317      349  ...      393
          2016-01-03 승차      256      277      308      381  ...      294
...                          ...      ...      ...      ...  ...      ...
회현(425)   2016-01-29 하차     2749     3028     2247     2504  ...     1092
          2016-01-30 승차      683     1139     1685     2493  ...     2687
                     하차     2896     3359     3463     3091  ...      844
          2016-01-31 승차      371      492      742      925  ...     1037
                     하차     1080     1018     1205     1051  ...      461

                         19 ~ 20  20 ~ 21  21 ~ 22  22 ~ 23  23 ~ 24  00 ~ 01  \
역명        날짜         구분
가락시장(340) 2016-01-01 승차      124      166      165      138       35        2
                     하차      181      151      134      153      151       15
          2016-01-02 승차      226      236      205      172       60        0
                     하차      346      268      269      234      202       28
          2016-01-03 승차      191      204      178      139       52        1
...                          ...      ...      ...      ...      ...      ...
회현(425)   2016-01-29 하차      741      374      365      312      243       94
          2016-01-30 승차     1595     1778      764      356      151        0
                     하차      480      292      267      210      128       34
          2016-01-31 승차      840     1075      575      317      125        0
                     하차      364      214      260      261       99       13

                         01 ~ 02  02 ~ 03  03 ~ 04
역명        날짜         구분
가락시장(340) 2016-01-01 승차        0        0        0
                     하차        0        0        0
          2016-01-02 승차        0        0        0
                     하차        0        0        0
          2016-01-03 승차        0        0        0
...                          ...      ...      ...
회현(425)   2016-01-29 하차        7        0        0
          2016-01-30 승차        0        0        0
                     하차        0        0        0
          2016-01-31 승차        0        0        0
                     하차        0        0        0

[7378 rows x 24 columns]

In [61]:
import os

In [62]:
print(os.listdir('./Subway'))

['Subway_201601.csv', 'Subway_201602.csv', 'Subway_201603.csv', 'Subway_201604.csv', 'Subway_201605.csv', 'Subway_201606.csv', 'Subway_201607.csv', 'Subway_201608.csv', 'Subway_201609.csv', 'Subway_201610.csv', 'Subway_201611.csv', 'Subway_201612.csv']

In [63]:
sub_dataFrame = pd.DataFrame()

In [67]:
len(sub_dataFrame)

0

In [128]:
# 1 ~ 5월 데이터 병함
sub_dataFrame = pd.DataFrame()
csv_list = os.listdir('./Subway')
for x in range(0, 5):
    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')
    temp.rename(columns={'구 분' : '구분'}, inplace=True)
    temp = temp.groupby(['역명', '날짜', '구분']).sum()
    if len(sub_dataFrame) == 0: sub_dataFrame = temp
    else: 
        sub_dataFrame = pd.concat([sub_dataFrame, temp])

# 6 ~ 12월
for x in range(5, 12):
    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')
    temp = temp.groupby(['역명', '날짜', '구분']).sum()
    temp.columns = [x.replace('~', ' ~ ') for x in temp.columns]
    temp.columns = [x.replace('시', '') for x in temp.columns]
    sub_dataFrame = pd.concat([sub_dataFrame, temp])

In [129]:
sub_dataFrame.columns

Index(['04 ~ 05', '05 ~ 06', '06 ~ 07', '07 ~ 08', '08 ~ 09', '09 ~ 10',
       '10 ~ 11', '11 ~ 12', '12 ~ 13', '13 ~ 14', '14 ~ 15', '15 ~ 16',
       '16 ~ 17', '17 ~ 18', '18 ~ 19', '19 ~ 20', '20 ~ 21', '21 ~ 22',
       '22 ~ 23', '23 ~ 24', '00 ~ 01', '01 ~ 02', '02 ~ 03', '03 ~ 04'],
      dtype='object')

In [130]:
sub_dataFrame

                         04 ~ 05  05 ~ 06  06 ~ 07  07 ~ 08  08 ~ 09  09 ~ 10  \
역명        날짜         구분
가락시장(340) 2016-01-01 승차      0.0       72      102       78      145      165
                     하차      0.0        6       81       65      116      121
          2016-01-02 승차      0.0       45       66      113      288      341
                     하차      0.0       11       81       83      181      224
          2016-01-03 승차      0.0       47       72       81      198      252
...                          ...      ...      ...      ...      ...      ...
회현(425)   2016-12-29 하차      NaN       38     1129     2677     6732     4198
          2016-12-30 승차      NaN       84      155      251      360      641
                     하차      NaN       34     1080     2448     6273     3967
          2016-12-31 승차      NaN       71      118      152      283      506
                     하차      NaN       26      427      698     1662     2479

                         10 ~ 11  11 ~ 12  12 ~ 13  13 ~ 14  ...  18 ~ 19  \
역명        날짜         구분                                      ...
가락시장(340) 2016-01-01 승차      173      226      237      260  ...      230
                     하차      143      167      187      192  ...      206
          2016-01-02 승차      334      463      430      471  ...      299
                     하차      195      310      317      349  ...      393
          2016-01-03 승차      256      277      308      381  ...      294
...                          ...      ...      ...      ...  ...      ...
회현(425)   2016-12-29 하차     2892     3046     2479     2346  ...     1213
          2016-12-30 승차      817     1211     1586     2082  ...     4826
                     하차     2573     3020     2555     2328  ...     1097
          2016-12-31 승차      762     1129     1582     1935  ...     2609
                     하차     2109     2951     2845     2772  ...     1162

                         19 ~ 20  20 ~ 21  21 ~ 22  22 ~ 23  23 ~ 24  00 ~ 01  \
역명        날짜         구분
가락시장(340) 2016-01-01 승차      124      166      165      138       35        2
                     하차      181      151      134      153      151       15
          2016-01-02 승차      226      236      205      172       60        0
                     하차      346      268      269      234      202       28
          2016-01-03 승차      191      204      178      139       52        1
...                          ...      ...      ...      ...      ...      ...
회현(425)   2016-12-29 하차      815      410      421      412      283      107
          2016-12-30 승차     2839     2176     1404      912      364       48
                     하차      824      483      449      396      314      119
          2016-12-31 승차     1624     1824     1241      818      315      156
                     하차      816      525      370      398      264      125

                         01 ~ 02  02 ~ 03  03 ~ 04
역명        날짜         구분
가락시장(340) 2016-01-01 승차        0      0.0      0.0
                     하차        0      0.0      0.0
          2016-01-02 승차        0      0.0      0.0
                     하차        0      0.0      0.0
          2016-01-03 승차        0      0.0      0.0
...                          ...      ...      ...
회현(425)   2016-12-29 하차        4      NaN      NaN
          2016-12-30 승차        0      NaN      NaN
                     하차        3      NaN      NaN
          2016-12-31 승차      243      NaN      NaN
                     하차      208      NaN      NaN

[87108 rows x 24 columns]

In [131]:
locals() # 현재 메모리에 존재하는 변수 출력

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "with open('./Subway', 'r') as f:\n    temp = f.read()",
  "with open('./Subway/Subway_201601', 'r') as f:\n    temp = f.read()",
  "with open('./Subway/Subway_201601.xlxs', 'r') as f:\n    temp = f.read()",
  "with open('./Subway/Subway_201601.xls', 'r') as f:\n    temp = f.read()",
  "with open('./Subway/Subway_201601.xls', 'rb') as f:\n    temp = f.read()",
  'import pandas as pd',
  "temp = pd.read_csv('./Subway/Subway_201601.csv')",
  'temp',
  "temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='utf-8')",
  "temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='euc-kr')",
  'temp',
  "temp.groupby('날짜', '호선')",
  'temp.columns',
  "temp.'날짜'",
  'temp.날짜',
  'temp.groupby(날짜)',
  "temp.groupby('날짜')",
  "temp.groupby('날짜', '호선')",
  "temp.groupby(['날짜', '호선'])",
  "temp.groupby(['날짜', '호선']).sum()",
  "temp.groupby(['역명', '날짜', '구분']).sum()",
  "temp.groupby(['역명', '날짜', '구 분']).sum()",
  "temp_sum = temp.groupby(['역명', '날짜', '구 분']).sum()",
  'temp_sum',
  'temp_sum.isnull()',
  "temp_sum.rename('구 분', '구분')",
  "temp_sum.rename(columns= {'구 분' : '구분'}, inplace=True)",
  'temp_sum',
  "temp_sum.rename(columns= {'구 분' : '구1분'}, inplace=True)",
  'temp_sum',
  "temp_sum.rename(columns= {'구 분' : '구1분1'}, inplace=True)",
  'temp_sum',
  "temp_sum.rename(columns= {'구 분' : '구1분1'}, inplace=True)",
  'temp_sum',
  "temp_sum = temp_sum.rename(columns= {'구 분' : '구1분1'}, inplace=True)",
  'temp_sum',
  "temp_sum = temp_sum.rename(columns= {'구 분' : '구1분1'})",
  "temp_sum.rename(columns= {'구 분' : '구1분1'}, inplace=True)",
  "temp_sum.rename(columns= {'구 분' : '구1분1'}, inplace=True)",
  "temp_sum = temp.groupby(['역명', '날짜', '구 분']).sum()",
  'temp_sum',
  "temp_sum.rename(columns= {'구 분' : '구1분1'}, inplace=True)",
  'temp_sum',
  "temp_sum.rename(columns= {'구 분' : 'asd'}, inplace=True)",
  'temp_sum',
  "temp_sum.rename(columns= {'할인' : 'asd'}, inplace=True)",
  'temp_sum',
  "temp_sum.rename(columns= {'역명' : 'asd'}, inplace=True)",
  'temp_sum',
  "temp.rename(columns= {'구 분' : 'asd'}, inplace=True)",
  'temp',
  "temp_sum.rename(columns= {'구 분' : 'asd'}, inplace=True)",
  'temp_sum',
  "temp_sum = temp.groupby(['역명', '날짜', '구 분']).sum()",
  "temp.rename(columns= {'asd' : '구 분'}, inplace=True) # groupby 된 DataFrame은 컬럼명 변경 불가",
  "temp_sum = temp.groupby(['역명', '날짜', '구 분']).sum()",
  'temp_sum',
  "temp.rename(columns={'구 분' : '구분'}, inplace=True)",
  "temp_sum = temp.groupby(['역명', '날짜', '구분']).sum()",
  'temp_sum',
  'import os',
  "print(os.listdir('./Subway'))",
  'sub_dataFrame = pd.DataFrame()',
  'sub_dataFrame',
  "for x in range(0, 5):\n    temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    pd.merge(sub_dataFrame, temp, how='left')",
  "for x in range(0, 5):\n    temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    pd.merge(sub_dataFrame, temp, how='right')",
  'len(sub_dataFrame)',
  "for x in range(0, 5):\n    temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else pd.merge(sub_dataFrame, temp, how='right')",
  "for x in range(0, 5):\n    temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: pd.merge(sub_dataFrame, temp, how='right')",
  'sub_dataFrame',
  "sub_dataFrame.날짜['2016-05-01']",
  'sub_dataFrame.날짜',
  "for x in range(0, 5):\n    temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: pd.merge(sub_dataFrame, temp, how='left')",
  'sub_dataFrame.날짜',
  'sub_dataFrame',
  "for x in range(0, 5):\n    temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: pd.merge(sub_dataFrame, temp, how='left')",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\nfor x in range(0, 5):\n    temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: pd.merge(sub_dataFrame, temp, how='left')",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\nfor x in range(0, 5):\n    temp = pd.read_csv('./Subway/Subway_201601.csv', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: pd.merge(sub_dataFrame, temp, how='left')",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        print('!!')\n        pd.merge(sub_dataFrame, temp, how='left')",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        print('!!')\n        pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        print(csv_list[x])\n        pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        print(temp)\n        break\n        pd.concat([sub_dataFrame, temp])",
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n#     temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        print(temp)\n        break\n        pd.concat([sub_dataFrame, temp])",
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n#     temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        print(temp)\n#         break\n        pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n#     temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        print('!')\n#         break\n        pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    sub_dataFrame.concat(sub_dataFrame, temp)",
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    sub_dataFrame = df.concat(sub_dataFrame, temp)",
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    sub_dataFrame = pd.concat(sub_dataFrame, temp)",
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n#     temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n#     temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp], gnore_index=True)",
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n#     temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp], ignore_index=True)",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp], ignore_index=True)",
  'sub_dataFrame',
  "sub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "for x in range(5, 13):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  "for x in range(5, 12):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "for x in range(5, 11):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "for x in range(5, 11):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "# 1 ~ 5월 데이터 병함\nsub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp])\n        \nfor x in range(5, 11):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', ending='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "# 1 ~ 5월 데이터 병함\nsub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp])\n        \nfor x in range(5, 11):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  "# 1 ~ 5월 데이터 병함\nsub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp])\n        \nfor x in range(5, 12):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame',
  'sub_dataFrame.colunms',
  'sub_dataFrame.columns',
  "# 1 ~ 5월 데이터 병함\nsub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp])\n        \nfor x in range(5, 12):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    print(temp.columns)\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])\n    break",
  "# 1 ~ 5월 데이터 병함\nsub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp])\n        \nfor x in range(5, 12):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    print(temp.columns)\n    temp.columns = [x.replace('~', ' ~ ') for x in temp.columns]\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])\n    break",
  'sub_dataFrame.columns',
  "# 1 ~ 5월 데이터 병함\nsub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp])\n        \nfor x in range(5, 12):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    temp.columns = [x.replace('~', ' ~ ') for x in temp.columns]\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame.columns',
  "# 1 ~ 5월 데이터 병함\nsub_dataFrame = pd.DataFrame()\ncsv_list = os.listdir('./Subway')\nfor x in range(0, 5):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp.rename(columns={'구 분' : '구분'}, inplace=True)\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    if len(sub_dataFrame) == 0: sub_dataFrame = temp\n    else: \n        sub_dataFrame = pd.concat([sub_dataFrame, temp])\n        \nfor x in range(5, 12):\n    temp = pd.read_csv(f'./Subway/{csv_list[x]}', encoding='euc-kr')\n    temp = temp.groupby(['역명', '날짜', '구분']).sum()\n    temp.columns = [x.replace('~', ' ~ ') for x in temp.columns]\n    temp.columns = [x.replace('시', '') for x in temp.columns]\n    sub_dataFrame = pd.concat([sub_dataFrame, temp])",
  'sub_dataFrame.columns',
  'sub_dataFrame',
  'locals()'],
 '_oh': {8:               ��¥   ȣ��        ���� �� �� ����.1  04 ~ 05  05 ~ 06  06 ~ 07  \
  0      2016-01-01  1ȣ��   ���￪(150)  ����    �Ϲ�       44      298      243
  1      2016-01-01  1ȣ��   ���￪(150)  ����   �ʵ��        1        4        0
  2      2016-01-01  1ȣ��   ���￪(150)  ����   û�ҳ�        8       33       15
  3      2016-01-01  1ȣ��   ���￪(150)  ����  ���л�        0        0        0
  4      2016-01-01  1ȣ��   ���￪(150)  ����    ���       11       70       78
  ...           ...   ...         ...   ...    ...      ...      ...      ...
  52665  2016-01-31  4ȣ��  ���·�(434)  ����    ���        0        5        7
  52666  2016-01-31  4ȣ��  ���·�(434)  ����    �Ϲ�        0        0        4
  52667  2016-01-31  4ȣ��  ���·�(434)  ����   �ʵ��        0        0        0
  52668  2016-01-31  4ȣ��  ���·�(434)  ����   û�ҳ�        0        0        0
  52669  2016-01-31  4ȣ��  ���·�(434)  ����    ���        0        0        7

         07 ~ 08  08 ~ 09  ...  18 ~ 19  19 ~ 20  20 ~ 21  21 ~ 22  22 ~ 23  \
  0          490      909  ...     2520     2129     1924     2038     1766
  1            4       18  ...       70       38       37       45       32
  2           16       54  ...      139      106      111      128       89
  3            0        0  ...        0        0        0        0        0
  4           65      151  ...      284      219      168      138      138
  ...        ...      ...  ...      ...      ...      ...      ...      ...
  52665        4        7  ...        8        5        6        0        2
  52666        9       14  ...       40       41       13       22       12
  52667        0        0  ...        0        2        0        0        0
  52668        0        0  ...        1        2        1        2        2
  52669        7        9  ...       20       12        2        4        5

         23 ~ 24  00 ~ 01  01 ~ 02  02 ~ 03  03 ~ 04
  0          868       52        0        0        0
  1            6        0        0        0        0
  2           44        1        0        0        0
  3            0        0        0        0        0
  4           50        4        0        0        0
  ...        ...      ...      ...      ...      ...
  52665        1        0        0        0        0
  52666       16        2        0        0        0
  52667        0        0        0        0        0
  52668        1        0        0        0        0
  52669        3        2        0        0        0

  [52670 rows x 29 columns],